---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import Resources from "@components/Resources";
import { RESOURCES } from "@consts";
import { cn } from "@lib/utils";

const resources = (await getCollection("resources"))
  .filter((record) => !record.data.draft)
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

const resourceTypes = [
  ...new Set(resources.flatMap((record) => record.data.type)),
].sort((a, b) => a.localeCompare(b));

const tags = [...new Set(resources.flatMap((record) => record.data.tags))].sort(
  (a, b) => a.localeCompare(b)
);
---

<PageLayout title={RESOURCES.TITLE} description={RESOURCES.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {RESOURCES.TITLE}
    </div>
    <div class="animate my-4">
      <p>
        This is a collection of resources that we have found useful for learning
        about Buddhism, studying and applying the Dharma, and practicing
        meditation. If you have a resource that you think would be beneficial
        for the community, you can submit it here and it will be published after
        being reviewed by a member of the Sangha.
      </p>
      <button
        class={cn(
          "h-8 rounded-full px-3 text-current mt-4",
          "flex items-center justify-center",
          "animate transition-colors duration-300 ease-in-out",
          "bg-black dark:bg-white text-white dark:text-black",
          "hover:bg-black/5 dark:hover:bg-white/20 hover:text-black dark:hover:text-white"
        )}
      >
        <a href="/resources/new">Add a new resource</a>
      </button>
    </div>
    <BottomLayout>
      <div class="animate">
        <Resources
          client:load
          tags={tags}
          data={resources}
          types={resourceTypes}
        />
      </div>
    </BottomLayout>
  </TopLayout>
</PageLayout>
